<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <% include ../static/partials/messages.ejs %>
        <br>
      <h1><%= wiki.title %></h1>
      
      <% if(currentUser) { %>
        <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
        <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <% } %>
        <hr>
      <p><%- wiki.body %></p>
    
    <!-- Add Collaborator button -->
    <hr>
    <br>
    <% if(currentUser.id === wiki.userId || currentUser.isAdmin) { %>
      <form style="width: 400px" action="/wikis/<%= wiki.id %>/collaborators/create" method="post">
      <div class="input-group">
         <input type="text" class="form-control" name="collaborator" placeholder="Enter username">
         <button type="submit" class="btn btn-primary">+ Add collaborators</button>
      </div>
    </form> 
    <br>
    <% } %>
      
      <!-- show collaborators in a list -->
      <h6>Collaborators:</h6>
      <% if(wiki.collaborators) { %>
        <ul class="list-group">
            <% wiki.collaborators.forEach((collaborator) => {  %>
            <li class="list-group-item">
                <p><%= collaborator.User.username %></p>
                <% if(currentUser && (currentUser.role === "premium" || currentUser.role === "admin")) { %>
                  <form style="width:25%" action="/wikis/<%= collaborator.wikiId %>/collaborators/delete" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <input type="hidden" value="<%= collaborator.User.id %>" class="form-control" name="collaborator">
                  </form>
                <% } %>
            </li>
            <% }) %>
        </ul>
        <% } %> 

  <!-- end collaborators in a list -->

          
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>