<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
    <body>
      <% include ../static/partials/navbar.ejs %>
      <main class="container">
        <% include ../static/partials/messages.ejs %>
        <br>
        <h1>
          <%= wiki.title %>
        </h1>
        
        <div class='button-container'>
          <span class='left-button' style="float:left">
            <% if(currentUser) { %>
            <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
            <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
              <button type="submit" class="btn btn-danger" style='margin-right: 3.25px'>Delete</button>
            </form>
            <% } %>
          </span>

          <!-- Add Collaborator button -->
          <span class='right-button' style="float:left" style='padding-left: 25px'>
            <% if(currentUser.id === wiki.userId || currentUser.isAdmin) { %>
            <form style="width: 350px" action="/wikis/<%= wiki.id %>/collaborators/create" method="post">
              <div class="input-group">
                <button type="submit" class="btn btn-primary" style='margin-right: 3.25px'>+ Add collaborators</button>
                <input type="text" class="form-control" name="collaborator" placeholder="Enter username">
              </div>
            </form>
            <br>
            <% } %>
          </span>
        </div>
        <br>
        <br>
        <hr>
        <div>
          <p>
            <%- wiki.body %>
          </p>
        </div>

        
        
      </main>
      <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>